{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block base_title%} {{ block.super}} | Detail {% endblock %}

<style>
{% block style %}

.wmd-panel{
	margin-right:0px !important;
	margin-left:0px !important; 
}

.comment-reply{
	display:none;
}

{% endblock %}
</style>

<!-- {% block head_content %} 

{{ my_form.media }}

{% endblock head_content %}
 -->
{% block content %}

<div class='col-sm-6 col-sm-offset-0'>
	

		
	<p class='lead'>{{ loop.content }}</p>
	<footer>by {{ loop.user}} | {{loop.timestamp|timesince}} ago |  
		{% if loop.children.count > 0 %} {{ loop.children.count }} Comment{% if loop.children.count > 1%}s{% endif %} |{% endif%}
		

	</footer>

	<div >
		{% for children_id in loop.children %}
		<blockquote>
			<p>{{ children_id.content }}</p>
			<footer>by {{ children_id.user}} | {{children_id.timestamp|timesince}} ago</footer>
		</blockquote>
		{% endfor %}

		<form method="POST">{% csrf_token %}
			{{ my_form |crispy }}
			<input type="hidden" name="parent_id" value = "{{ loop.id }}">
			<input type="submit" value="Reply" class="btn btn-default"></input>
		</form>
	</div>

	
</div>

{% endblock %}